.sidebar-box {
    width: 200px;
    height: 100%;

    background-color: bisque;
    border: 1px black solid;
    border-radius: 8px;

    transform: translateX(-202px);
    transition: 0.6s;
}

li {
    margin-bottom: 3px;
}