.App {
    width: 100vw;
}

.App-title {
    width: 100%;
    padding: 10px;
    background-color: #f1f6f9;
}

.App-nav {
    width: 100%;
    padding: 10px;
    background-color: #f1f6f9;
    text-align: center;
}

.App-nav .link {
    margin-right: 8px;
    color: black;
}