.wrapper {
    position: relative;
    display: flex;
    width: 300px;
    height: 300px;
    overflow: hidden;
}

.imageContainer {
    display: flex;
    transition: 0.6s;
}

.left {
    position: absolute;
    top: 50%;
    left: 5px;
}

.right {
    position: absolute;
    top: 50%;
    right: 5px;
}