.Image-slider-wrapper {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

.Image-slider-box {
    position: relative;
    width: 300px;
    height: 300px;
    overflow: hidden;
    display: flex;
}

.imageContainer {
    display: flex;
    transition: 0.6s;
}

.left {
    position: absolute;
    top: 50%;
    left: 5px;
    cursor: pointer;
}

.right {
    position: absolute;
    top: 50%;
    right: 5px;
    cursor: pointer;
}

.radioButton {
    position: absolute;
    bottom: 2%;
    left: 50%;
    transform: translateX(-50%);
}